p,h1,h2,h3,h4,h5,ul{
    margin: 0;
    padding: 0;

}
dl{
    margin: 0;
}
.title01{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.title01 h1{
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}
.title01 p{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 11px;
}
.title02{
    border-bottom: solid 2px #000;
    padding-top: 40px;
}
body{
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    min-height: 100vh;
    width: 100%;
}
.pc_top{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(../img/index/key_visual.jpg);
    opacity: 0.2;

}
#top{
    width: 375px;
    background-color: #fff;
    border: solid 1px #000;
    position: absolute;;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
.top_inner{
    width: 335px;
    margin-left: auto;
    margin-right: auto;
}
.top_inner img{
    margin-top: 30px;
    width: 100%;
}
.profile_pic{
    background-image: url(../img/index/profile_pic.jpg);
    width: 100%;
    background-size: contain;
    background-position: center top;
    height: 348px;
    background-repeat: no-repeat;
}
.profile_name{
    text-align: center;
    padding-top: 30px;
}

.profile_name h2{
    font-size: 16px;
    font-weight: 500;
}
.profile_name h2 span{
    font-size: 10px;
    padding-left: 5px;
}
.profile_sentence{
    font-size: 12px;
    font-weight: 400;
    line-height: 2em;
    text-align: center;
    padding-top: 15px;
}



.profile_qa ul {
    list-style: none;
    padding-left: 0;
    font-size: 12px;
    line-height: 2em;
}
.profile_qa ul li {
    padding-top: 30px;
}
.profile_qa ul li span{
    font-weight: 500;
}

.profile_feature{
    background-color: #EDEDED;
    margin-top: 30px;
}

.profile_feature_box{
    background-color: #fff;
    width: 335px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
    height: 400px;

}
.profile_feature_box img{
    margin-top: 60px;
    width: 70px;
}
.profile_feature_box .w {
    width: 90px;
}
.profile_feature_box h3{
    position: relative;
    padding-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.profile_feature_box h3::after {
	content: '';
	display: block;
	position: absolute;
	left: 50%; 
	transform: translate(-50%); 
	bottom: -15px; 
	width: 25px; 
	height: 2px;
	background-color: #000; 
}
.profile_feature_box p{
    font-size: 13px;
    line-height: 2em;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}


.profile_skill_inner dl{
    display: flex;
    width: 335px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: 30px;
}
.profile_skill_inner dt{
    text-align: center;
}
.profile_skill_inner dt img{
    width: 30px;
}
.profile_skill_inner dt h4{
    font-size: 8px;
}
.profile_skill_inner dt p{
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.profile_skill_inner dt p span{
    color: #CBCBCB;
}
.profile_skill_inner dd{
    font-size: 12px;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
}

.works_card{
    width: 335px;
    margin-left: auto;
    margin-right: auto;

}
.works_card h5{
    font-weight: 500;
}
.works_page ul li{
    list-style: none;
    font-size: 12px;
    line-height: 2em;

}
.works_page ul li img{
    width: 30px;

}

.contact_page p{
    font-size: 12px;
    line-height: 2em;
    text-align: center;
}
.contact_button{
    background-color: #000;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 100px;
}
.contact_button p{
    color: #fff;
}

@media screen and (max-width:768px){
    .pc_top{
        display: none;
    }
}
@media screen and (max-width:768px){
    #top{
        width: 100%;
    }
}